.bg-primary { background-color: #1a2b6d; }
.bg-secondary { background-color: #0075c9; }
.bg-accent { background-color: #ff6a00; }
.text-primary { color: white; background-color: #1a2b6d; }
.text-secondary { color: #0075c9; }
.text-accent { color: #ff6a00; }
